.btn-no {
    background-color: #ccc;
    color: rgb(243, 179, 3);
    font-size: 14px;
    padding: 3px 3px;
}
.btn-yes {
    background-color: #ccc;
    color: rgb(223, 23, 23);
    font-size: 14px;
    padding: 3px 3px;
}
.text-msg {
    font-size: 18px;
}